* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.container-nb {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 1100px;
  height: 1500px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  color: $dark-nb;
}
