@import "../media-queries";

/*
  -- Values
  */
// $container-margin: 10px;
$nav-width: 100%;
$nav-max-width: 480px;
// $nav-list-item-width: 25%;
// $nav-padding: 20px;
$nav-border-radius: 30px;
// $nav-link-margin: 10px;
$nav-link-height: 60px;
$nav-link-width: 51px;
$nav-icon-size: 17px;
$nav-circle-size: 5px;
$nav-circle-radius: 50%;
$nav-link-font-size: 14px;
$nav-link-font-weight: 500;
$nav-link-text-z-index: 1;
$nav-link-text-mask-z-index: 2;
$nav-icon-z-index: 3;
$nav-icon-mask-z-index: 4;

/*
  -- Colors
  */

$body-background-color: #fff;
$container-background-color: #fff;
$nav-background-color: #fff;
$nav-icon-color: rgba(0, 0, 0, 0.54);
$nav-link-text-color: rgba(0, 0, 0, 0.84);

// Header
.header-nb {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center start;
  line-height: 3.5rem;
  padding: 0 2rem;
  height: 65px;
  @include xs {
    grid-template-columns: 1fr;
    place-items: center center;
    line-height: 2rem;
    height: fit-content;
  }
  .a-nb {
    font-size: 16px;
    font-weight: 400;
    color: $dark-nb;
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    font-size: 3rem;
    font-family: "Staatliches", cursive;
    @include xs {
      line-height: 3.2rem;
      margin-top: 2.5rem;
    }
  }
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-1 {
  flex-grow: 1;
}

.container-nav-brand {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $container-background-color;
  // margin: $container-margin;
}

/*
  -- Nav Icons
  */

.nav-brand {
  width: $nav-width;
  max-width: $nav-max-width;
  background-color: $nav-background-color;
  border-bottom-left-radius: $nav-border-radius;
  border-bottom-right-radius: $nav-border-radius;

  .ul-brand {
    list-style-type: none;
    // padding: $nav-padding;
    text-align: end;
    margin-bottom: 0;
  }

  .li-brand {
    display: inline-flex;
    // width: $nav-list-item-width;
    //remove li spacing
    margin-right: -4px;
  }

  .a-brand {
    height: $nav-link-height;
    width: $nav-link-width;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    // margin-right: $nav-link-margin;
    // margin-left: $nav-link-margin;

    &:hover {
      .i-brand {
        transition: all 0.4s;
        color: $nav-link-text-color;
      }
    }

    .i-brand {
      position: absolute;
      z-index: $nav-icon-z-index;
      &:after {
        content: "";
        background-color: $nav-background-color;
        position: absolute;
        transform: rotate(15deg);
        right: 0;
        bottom: 0;
        left: -5px;
        z-index: $nav-icon-mask-z-index;
      }
    }

    .span-brand {
      color: $nav-link-text-color;
      font-size: $nav-link-font-size;
      font-weight: $nav-link-font-weight;
      z-index: $nav-link-text-z-index;
      transform: translateY(20px);
      position: relative;
      &:first-letter {
        text-transform: capitalize;
      }
      &:after {
        content: "";
        background-color: $nav-link-text-color;
        position: absolute;
        height: $nav-circle-size;
        width: $nav-circle-size;
        border-radius: $nav-circle-radius;
        display: flex;
        left: calc(50% - #{$nav-circle-size / 2});
        top: 30px;
        transform: scale(0);
        opacity: 0;
      }
    }

    &:after {
      content: "";
      background-color: $nav-background-color;
      position: absolute;
      transform: rotate(20deg);
      right: -2px;
      bottom: -14px;
      left: -8px;
      height: 50px;
      z-index: $nav-link-text-mask-z-index;
    }
  }

  @mixin onClick(
    $translateIcon,
    $IconMaskHeight,
    $translateSpan,
    $scaleCircle,
    $linkMaskHeight
  ) {
    .i-brand {
      transform: translateY($translateIcon);
      transition: all 0.4s;
      &:after {
        transition: all 0.4s;
        height: $IconMaskHeight;
      }
    }

    .span-brand {
      transform: translateY($translateSpan);
      transition: all 0.4s ease-in;
      &:after {
        transition: all 0.4s ease;
        transform: scale($scaleCircle);
        opacity: 1;
      }
    }
    &:after {
      height: $linkMaskHeight;
      transition: height 1s;
    }
  }

  //onClick
  .a-brand.isActive {
    @include onClick(-52px, $nav-icon-size, 0, 1, 10px);
  }

  //onClick other links
  .a-brand.notActive {
    @include onClick(0, 0, 20px, 0, 45px);
  }

  .material-icons-outlined {
    color: $nav-icon-color;
    font-size: $nav-icon-size;
  }
}

/* Navbar */

.nav-nb {
  z-index: 99; //big value to cover others elements, else is transparent
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  font-family: "Roboto Condensed", sans-serif;
  height: 50px;
  .i-nav-nb {
    font-size: 20px;
    color: $nav-link-text-color;
  }
  @include xs {
    padding: 0 1rem;
  }
}

.a-nav-nb {
  font-size: 15px;
  font-weight: 400;
  color: $nav-icon-color;
}

.a-nav-nb:hover {
  text-decoration: none;
  color: $nav-link-text-color;
}
