$color1: #16a085;

.portfolio-index-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .button.type3 {
    color: $color1;
    &.type3::after {
      border-bottom-color: $color1;
      border-right-color: $color1;
    }

    &.type3::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }

    &.type3:hover:after,
    &.type3:hover:before {
      border-bottom-color: $color1;
      border-right-color: $color1;
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }
}
