 <div class="ipos">
    <h1>IPOs</h1>
    <% @ipos.each do |ipo| %>
      <div class="card-product">
        <div class="mb-1 mt-1 ml-1 mtr-1"><%= cl_image_tag ipo.ipo_logo.key, width: 85, height: 85, crop: :pad %></div>
        <div class="card-product-infos">
          <h2><%= link_to ipo.name, edit_ipo_path(ipo) %></h2>
          <p><%= ipo.sector %></p>
          <%= link_to "Prospectus offering", ipo.pdf_prospectus %>
        </div>
      </div>
    <% end %>
   </div>
  </div>
</div>
