<% if current_user.admin %>
<div class="ipos-index-admin">
  <a href="ipos/new"><button class="button type3">New IPOS</button></a>
</div>
<% end %>
 
<div class="ipo-index-container">
  <% @ipos.each_with_index do |ipo| %>
    <div class="card-ipo-index">
      <h2 class = "ipo-index-h2"><%= ipo.name %></h2>
      <i class="ipo-index-i fas fa-arrow-right"></i>
      <p class="p-ipo-index"><%= ipo.sector %></p>
      <img class="pic">
      <ul class="ipo-index-ul">
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
        <li class="ipo-index-li"></li>
      </ul>
      <div class="ipo-timeline">
        <i class="ipo-index-i"><%= ipo.date.strftime("%d / %m / 20%y ") %></i>
        <i class="ipo-index-i far fa-clock"></i>
      </div>
      <button><%= link_to "", ipo.pdf_prospectus, class: "ipo-index-a" %></button>
    </div>  
  <% end %>
</div>
  

    
  
