$color1: #435a6b;
$color2: #16a085;

//Admin div

.deal-index-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .button.type1 {
    color: $color1;
    &.type1::after {
      border-bottom-color: $color1;
      border-right-color: $color1;
    }

    &.type1::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }

  .button.type2 {
    color: $color2;
    &.type2:after,
    &.type2:before {
      background-color: $color2;
    }

    &.type2::before {
      border-top-color: $color2;
      border-left-color: $color2;
    }
  }

  .button.type3 {
    color: $color1;
    &.type3::after {
      border-bottom-color: $color1;
      border-right-color: $color1;
    }

    &.type3::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }

    &.type3:hover:after,
    &.type3:hover:before {
      border-bottom-color: $color1;
      border-right-color: $color1;
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }
}

//No admin
.deal-index-no-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .button.type3 {
    color: $color2;
    cursor: default;
    &.type3::after {
      border-bottom-color: $color2;
      border-right-color: $color2;
    }

    &.type3::before {
      border-top-color: $color2;
      border-left-color: $color2;
    }

    &.type3:hover:after,
    &.type3:hover:before {
      border-bottom-color: $color2;
      border-right-color: $color2;
      border-top-color: $color2;
      border-left-color: $color2;
    }
  }
}

//Index deal
.deal-index-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.deal-index-table {
  li {
    transition: box-shadow 0.3s;
    border-radius: 3px;
    padding: 25px 20px;
    display: grid;
    grid-template-areas: "e1 e2 e3 e4 e5 e6 e7 e8";
    grid-template-rows: auto;
    grid-template-columns: 120px 80px 100px 80px 140px 100px 100px 100px;
    place-items: center center;
    place-content: center space-evenly;
    text-align: center;
    margin-bottom: 25px;
    z-index: 1;
    @media all and (max-width: 1100px) {
      grid-template-areas: "e1 e2 e3 e4 e5 e6";
      grid-template-columns: repeat(6, 1fr);
    }

    @media all and (max-width: 767px) {
      display: grid;
      grid:
        "e1" 1fr
        "e2" 1fr
        "e3" 1fr
        "e4" 1fr
        "e5" 1fr
        "e6" 1fr /
        auto;
      place-items: center center;
      grid-template-columns: 1fr;
    }
  }
  .deal-index-table-header {
    // margin-top: 1rem; A rajouter si user est pas admin, how ?
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: rgba(206, 252, 233, 1);
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    @media all and (max-width: 767px) {
      max-height: fit-content;
      font-size: 18px;
    }
  }
  .deal-index-row {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    @media all and (max-width: 767px) {
      line-height: 32px;
      font-size: 16px;
    }
  }

  .font-size {
    //override row font-size except Name
    font-size: 16px;
  }

  .deal-index-a {
    text-decoration: none;
    grid-column: 1/9;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    @media all and (max-width: 767px) {
      grid-row: 1/7;
    }
  }

  .col-nb-1 {
    grid-area: e1;
  }
  .col-nb-2 {
    grid-area: e2;
  }
  .col-nb-3 {
    grid-area: e3;
  }
  .col-nb-4 {
    grid-area: e4;
  }
  .col-nb-5 {
    grid-area: e5;
  }
  .col-nb-6 {
    grid-area: e6;
  }
  .col-nb-7 {
    grid-area: e7;
    @media all and (max-width: 1100px) {
      display: none;
    }
  }
  .col-nb-8 {
    grid-area: e8;
    @media all and (max-width: 1100px) {
      display: none;
    }
  }
}
