
<div class="row text-center">
          <div class="col-3 col-md-3">
            <%= link_to "Deals", deals_path, class: "btn btn-ghost" %>
          </div>
          <div class="col-3 col-md-3">
            <%= link_to "Acquirers", acquirers_path, class: "btn btn-ghost" %>
          </div>
          <div class="col-3 col-md-3">
            <%= link_to "Targets", targets_path, class: "btn btn-ghost" %>
          </div>
          <div class="col-3 col-md-3">
            <%= link_to "IPOs", ipos_path, class: "btn btn-ghost" %>
          </div>
      </div>
