<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.15)), url(https://res.cloudinary.com/dtw3qvpgg/image/upload/v1582197621/hugo-sousa-1Z7QDZqT2QQ-unsplash_zbrbph.jpg)">
  My Documents
</div>

<h3 class="mt-3 mb-3">General documentation</h3>
   <% @documents.each do |document| %>
    <p class="border-top mt-3 mb-3"><%= link_to document.name, document.document_pdf %> <em>version: </em><%= document.date.strftime("%d/%m/%y") %></p>
   <% end %>

<h3>My Documents</h3>
