//Stock show - section 5
//Description : Digestible news = Our comments
//Components used in HTML : "header-section" -> _banner.scss

.digestible-news-section {
  margin-bottom: 60px;
  -webkit-transition: background 300ms;
  transition: background 300ms;

  .digestible-mng-ctn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 24px 0;

    .our-faces {
      border-color: rgba(4, 13, 20, 0.8);
      border-style: solid;
      border-width: 2px;
      border-radius: 100px;
      height: 60px;
      width: 60px;

      &:nth-child(2) {
        margin-left: -12px;
      }
    }

    .our-pres-ctn {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 0 12px;

      .our-names-ctn {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
        margin: 0;

        .our-names {
          color: $rh_text-color-black;
          font-family: $family-font-show;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.1px;
          text-decoration: unset;
        }
      }

      .our-roles {
        color: $rh_text-color-grey;
        font-family: $family-font-show;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        -webkit-letter-spacing: -0.1px;
        -moz-letter-spacing: -0.1px;
        -ms-letter-spacing: -0.1px;
        letter-spacing: -0.1px;
        -webkit-text-decoration: unset;
        text-decoration: unset;
      }
    }
  }
}
