//MorningStar
.morningstar-container {
  height: 470px;
  margin-top: 117px;
  display: flex;
  font-weight: 400;
  @media all and (max-width: 1023px) {
    flex-direction: column;
    margin-top: 44px;
  }

  .mg-text {
    z-index: 1;
    width: 40%;
    margin-right: -200px;
    margin-top: 100px;
    text-align: left;
    display: block;
    left: 0;

    @media all and (max-width: 1023px) {
      width: 80%;
      margin-top: 0;
    }
    @media (min-width: 915px) and (max-width: 969px) {
      width: 85%;
    }

    @media (min-width: 800px) and (max-width: 914px) {
      width: 100%;
    }

    .mg-t {
      line-height: 80px;
      font-size: 70px;
      font-weight: 500;
      color: rgba(41, 41, 41, 1);
      margin: 0;

      @media all and (max-width: 800px) {
        line-height: 36px;
        font-size: 32px;
      }
    }
  }

  .mg-color {
    width: 81%;
    display: block;

    @media all and (max-width: 1023px) {
      width: 100%;
      margin-top: 50px;
    }

    .mg-c-c {
      padding: 0px 45px 0px 24%;
      height: 100%;
      background-color: rgba(12, 242, 143, 0.2);
      width: 100%;

      @media all and (max-width: 1023px) {
        height: 500px;
      }
      @media all and (max-width: 903.98px) {
        padding-left: 7%;
      }
    }
  }
}

.morningstar-container-reverse {
  height: 470px;
  margin-top: 117px;
  display: flex;
  font-weight: 400;
  @media all and (max-width: 1023px) {
    flex-direction: column;
    margin-top: 44px;
  }

  .mg-text {
    z-index: 1;
    width: 40%;
    margin-left: -200px;
    margin-top: 100px;
    margin-right: 44px;
    text-align: left;
    display: block;
    right: 0;

    @media all and (max-width: 1023px) {
      display: none;
    }

    .mg-t {
      line-height: 80px;
      font-size: 70px;
      font-weight: 500;
      color: rgba(41, 41, 41, 1);
      margin: 0;

      @media all and (max-width: 800px) {
        line-height: 36px;
        font-size: 32px;
      }
    }
  }

  .mg-color {
    width: 81%;
    display: block;

    @media all and (max-width: 1023px) {
      width: 100%;
      margin-top: 125px;
      margin-bottom: 200px;
    }

    .mg-c-c {
      padding: 0px 24% 0px 45px;
      height: 100%;
      background-color: rgba(12, 242, 143, 0.2);
      width: 100%;

      @media all and (max-width: 1023px) {
        height: 500px;
      }
      @media all and (max-width: 903.98px) {
        padding-left: 7%;
      }
    }
  }
}

.mg-data-container {
  width: 100%;
  display: grid;
  grid:
    "e1 e2 e3" 156.6px
    "e4 e5 e6" 156.6px
    "e7 e8 e9" 156.6px /
    1fr 1fr 1fr;
  place-items: center center;
}

.col-mg-1 {
  grid-area: e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-2 {
  grid-area: e2;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-3 {
  grid-area: e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-4 {
  grid-area: e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-5 {
  grid-area: e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-6 {
  grid-area: e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-7 {
  grid-area: e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-8 {
  grid-area: e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-mg-9 {
  grid-area: e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//z-index-name basic à 2 set property z-index sur les bprders en fonctions des datas
.col-mg-data {
  // background-color: wheat;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding: 0.2rem;
}

.data-name {
  margin-top: 2.5rem;
  font-size: 22px;
  text-align: center;
  line-height: 3rem;
}

.col-mg-graph-price-sales {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-price-earnings {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-price-cashflow {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-price-book {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-price-forward-earnings {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-earning-yield {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-enterprise-value {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}
.col-mg-graph-enterprise-value-ebit {
  background: linear-gradient(to top, #2585a4, #3697d8);
  filter: grayscale(30%);
  width: 50px;
  &:hover {
    filter: grayscale(0%);
  }
}

@keyframes stonk {
  from {
    height: 0;
  }
  to {
    height: var(--h, 20vh);
  }
}
