//Stock show - section 1
//Description : Chart container

.container-chart {
  width: 100%; //676px origin
  margin-bottom: 44px;
  position: relative;

  .header-chart {
    margin-bottom: 12px;
    height: 95px;

    .h-1 {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;

      .h-1-1 {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
        margin: 0;

        .h1-1-1-s {
          // color: var(--rh__text-color);
          // font-family: var(--rh__type-palette__type17__stack);
          // font-size: var(--rh__type-palette__type17__font-size);
          // font-style: normal;
          // font-weight: var(--rh__type-palette__type17__font-weight);
          // line-height: var(--rh__type-palette__type17__line-height);
          // -webkit-letter-spacing: var(
          //   --rh__type-palette__type17__letter-spacing
          // );
          // -moz-letter-spacing: var(
          //   --rh__type-palette__type17__letter-spacing
          // );
          // -ms-letter-spacing: var(
          //   --rh__type-palette__type17__letter-spacing
          // );
          // letter-spacing: var(--rh__type-palette__type17__letter-spacing);
          color: rgb(240, 244, 246);
          font-family: "Capsule Sans Display", system-ui, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px;
          -webkit-letter-spacing: -0.33px;
          -moz-letter-spacing: -0.33px;
          -ms-letter-spacing: -0.33px;
          letter-spacing: -0.33px;
          -webkit-text-decoration: unset;
          text-decoration: unset;

          .up.h-1-1-s-u-d {
            overflow: hidden;
            position: relative; //Effet non mis à jour
          }
        }
      }
    }
    .h-2-s1 {
      //   color: var(--rh__text-color);
      // font-family: var(--rh__type-palette__type4__stack);
      // font-size: var(--rh__type-palette__type4__font-size);
      // font-style: normal;
      // font-weight: var(--rh__type-palette__type4__font-weight);
      // line-height: var(--rh__type-palette__type4__line-height);
      // -webkit-letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // -moz-letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // -ms-letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // -webkit-text-decoration: unset;
      // text-decoration: unset;
      // color: rgb(240, 244, 246); //color in black mode
      color: rgb(0, 0, 0);
      font-family: "Capsule Sans Text", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: -0.1px;
      -moz-letter-spacing: -0.1px;
      -ms-letter-spacing: -0.1px;
      letter-spacing: -0.1px;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }

    .h-2-s2 {
      // color: var(--rh__text-color);
      // font-family: var(--rh__type-palette__type1__stack);
      // font-size: var(--rh__type-palette__type1__font-size);
      // font-style: normal;
      // font-weight: var(--rh__type-palette__type1__font-weight);
      // line-height: var(--rh__type-palette__type1__line-height);
      // -webkit-letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // -moz-letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // -ms-letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // -webkit-text-decoration: unset;
      // text-decoration: unset;
      // --rh__text-color: var(--rh__foundation-fg2);
      color: rgb(121, 133, 139);
      font-family: "Capsule Sans Text", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      -webkit-letter-spacing: -0.1px;
      -moz-letter-spacing: -0.1px;
      -ms-letter-spacing: -0.1px;
      letter-spacing: -0.1px;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }
  }
}

.graph-container {
  position: relative;
  .graph-container-size {
    width: 100%;
    height: 200px;
    background-color: coral;
  }
}

.nav-graph {
  border-color: rgb(48, 54, 58);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 24px;
  margin-bottom: 12px;

  .nav-list {
    height: 33px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }
}
