//Section 6
//Description : Financial news section
//Components used in HTML : "header-section" -> _banner.scss, "banner_newsflow" -> _banner.scss

.financial-news-section {
  margin-bottom: 60px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
