//Stock show - section 1
//Description : Chart container

.container-chart {
  width: 100%; //676px origin
  margin-bottom: 44px;
  position: relative;

  .header-chart {
    margin-bottom: 12px;
    height: 95px;

    .h-1 {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;

      .h-1-1 {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
        margin: 0;

        .h1-1-1-s {
          color: $rh_text_color-white;
          font-family: $family-font-show;
          font-size: $rh_font_size_32;
          font-style: normal;
          font-weight: $rh_font-weight-500;
          line-height: $rh_line-height-40;
          -webkit-letter-spacing: $rh_letter_space-33;
          -moz-letter-spacing: $rh_letter_space-33;
          -ms-letter-spacing: $rh_letter_space-33;
          letter-spacing: $rh_letter_space-33;
          -webkit-text-decoration: unset;
          text-decoration: unset;

          .up.h-1-1-s-u-d {
            overflow: hidden;
            position: relative; //Effet non mis à jour
          }
        }
      }
    }
    .h-2-s1 {
      color: $rh_text-color-black;
      font-family: $family-font-show;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: $rh_letter_space-01;
      -moz-letter-spacing: $rh_letter_space-01;
      -ms-letter-spacing: $rh_letter_space-01;
      letter-spacing: $rh_letter_space-01;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }

    .h-2-s2 {
      color: $rh_text-color-grey;
      font-family: $family-font-show;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      -webkit-letter-spacing: $rh_letter_space-01;
      -moz-letter-spacing: $rh_letter_space-01;
      -ms-letter-spacing: $rh_letter_space-01;
      letter-spacing: $rh_letter_space-01;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }
  }
}

.graph-container {
  position: relative;
  .graph-container-size {
    width: 100%;
    height: 200px;
    background-color: coral;
  }
}

.nav-graph {
  border-color: rgb(48, 54, 58);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 24px;
  margin-bottom: 12px;

  .nav-list {
    height: 33px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }
}
