$color1: #16a085;

//Admin

.stock-show-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .button.type2 {
    color: $color1;
    &.type2:after,
    &.type2:before {
      background-color: $color1;
    }

    &.type2::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }
}

// //Non admin
// .stock-show-no-admin {
//   padding: 0 2rem;
//   margin-bottom: 1.5rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .button.type2 {
//     color: $color1;
//     cursor: default;
//     &.type2:after,
//     &.type2:before {
//       background-color: $color1;
//     }

//     &.type2::before {
//       border-top-color: $color1;
//       border-left-color: $color1;
//     }
//   }
// }

// // Active button
// .m_button {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   -webkit-tap-highlight-color: transparent;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   cursor: pointer;
//   background-color: #eeeeee;
//   width: 100%;
//   height: 100%;
//   border-radius: 10px;
//   box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
//     7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
//     inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
//     inset 0px 0px 0px 0px #0001;
//   transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);

//   span:nth-child(2) {
//     transform-origin: 50% 50%;
//   }
// }

// .m_button-active {
//   box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
//     0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9,
//     inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003,
//     inset 4px 4px 5px 0px #0001;
// }

// //Stocks show
// .stock-show-nav-container {
//   max-width: 1100px;
//   width: 100%;
// }

// .accordion {
//   &-tabs {
//     display: none;
//     :focus {
//       outline: none;
//     }
//   }

//   &-item {
//     position: relative;
//     z-index: 1;

//     &__container {
//       padding: 0 1.25em;
//       height: 0;
//       overflow: hidden;
//       opacity: 0;
//       transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
//     }
//   }

//   &-active {
//     .accordion-item {
//       &__label {
//         padding-bottom: 0;
//         cursor: inherit;

//         &:hover {
//           background: none;
//         }

//         &:after {
//           opacity: 0;
//         }
//       }

//       &__container {
//         padding: 1.25em;
//         height: auto;
//         opacity: 1;
//       }
//     }
//   }
// }

// .stock-show-timeline {
//   width: 4px;
//   margin-top: 12px;
//   border-radius: 50px;
//   margin-left: 130px;
//   position: absolute;
//   top: 0;
//   left: auto;
//   bottom: 3rem;
//   background: #1abc9c;
//   opacity: 1;
// }
// //Accordions

// .stock-show-table {
//   li.li-box {
//     width: 100%;
//     transition: box-shadow 0.3s;
//     border-radius: 3px;
//     display: grid;
//     grid-template-areas: "e1 e2 e3 e4 e5";
//     grid-template-rows: auto;
//     grid-template-columns: 85px 50px 20fr 1fr 1fr;
//     place-content: center left;
//     margin-bottom: 25px;
//     transition: box-shadow 0.3s;
//     border-radius: 3px;
//     padding: 25px 0;
//     margin-bottom: 25px;
//   }

//   .content-window {
//     visibility: hidden;
//     position: absolute;
//     top: 0;
//     left: 0;
//     max-width: 1100px;
//     width: 100%;
//     height: 0;
//     z-index: 2;

//     &.show-content {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       visibility: visible;
//       cursor: default;
//       height: fit-content;
//       background-color: white;
//     }

//     .content-text {
//       display: block;
//       margin: 0 64px;
//       max-width: 680px;
//       width: 100%;
//       min-width: 0;
//       line-height: 32px;
//       margin-top: 2em;
//       font-size: 21px;
//       color: rgba(41, 41, 41, 1);
//       align-items: center;
//     }
//   }
// }
// .no-display {
//   display: none;
// }
// .stock-show-row {
//   font-family: "lato", sans-serif;
//   font-size: 14px;
// }

// .col-nb-1-stock-show {
//   grid-area: e1;
//   padding: 0 1.5rem;
//   margin-left: 2rem;
// }
// .col-nb-2-stock-show {
//   grid-area: e2;
//   padding: 0 1.7rem;
//   font-size: 20px;
//   color: #1abc9c;
// }
// .col-nb-3-stock-show {
//   grid-area: e3;
//   padding-left: 5%;
// }
// .col-nb-4-stock-show {
//   grid-area: e4;
//   padding: 0 1rem;
//   font-size: 16px;
// }
// .col-nb-5-stock-show {
//   grid-area: e5;
//   padding: 0 1rem;
//   margin-right: 2rem;
//   font-size: 16px;
// }

// .min-height {
//   min-height: calc(100vh - 265px);
// }

.stock-show-container {
  width: 100%;
  display: block;

  .main-container {
    padding-top: 36px;
    margin: 0 auto;

    .top-tags-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: -6px;
      max-width: 570px;
    }
  }

  .show-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -6px;

    .show-content-col-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding-right: 6px;
      padding-left: 6px;

      .show-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .stock-show-name {
          max-width: 497px;
          font-size: 32px;
          font-weight: 500;
          letter-spacing: -0.33px;
          line-height: 40px;
          margin: 0;
        }
      }
    }
  }
}

.container-chart {
  width: 100%; //676px origin
  margin-bottom: 44px;
  position: relative;

  .header-chart {
    margin-bottom: 12px;
    height: 95px;

    .h-1 {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;

      .h-1-1 {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -0.33px;
        line-height: 40px;
        margin: 0;

        .h1-1-1-s {
          // color: var(--rh__text-color);
          // font-family: var(--rh__type-palette__type17__stack);
          // font-size: var(--rh__type-palette__type17__font-size);
          // font-style: normal;
          // font-weight: var(--rh__type-palette__type17__font-weight);
          // line-height: var(--rh__type-palette__type17__line-height);
          // -webkit-letter-spacing: var(
          //   --rh__type-palette__type17__letter-spacing
          // );
          // -moz-letter-spacing: var(
          //   --rh__type-palette__type17__letter-spacing
          // );
          // -ms-letter-spacing: var(
          //   --rh__type-palette__type17__letter-spacing
          // );
          // letter-spacing: var(--rh__type-palette__type17__letter-spacing);
          color: rgb(240, 244, 246);
          font-family: "Capsule Sans Display", system-ui, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px;
          -webkit-letter-spacing: -0.33px;
          -moz-letter-spacing: -0.33px;
          -ms-letter-spacing: -0.33px;
          letter-spacing: -0.33px;
          -webkit-text-decoration: unset;
          text-decoration: unset;

          .up.h-1-1-s-u-d {
            overflow: hidden;
            position: relative; //Effet non mis à jour
          }
        }
      }
    }
    .h-2-s1 {
      //   color: var(--rh__text-color);
      // font-family: var(--rh__type-palette__type4__stack);
      // font-size: var(--rh__type-palette__type4__font-size);
      // font-style: normal;
      // font-weight: var(--rh__type-palette__type4__font-weight);
      // line-height: var(--rh__type-palette__type4__line-height);
      // -webkit-letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // -moz-letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // -ms-letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // letter-spacing: var(--rh__type-palette__type4__letter-spacing);
      // -webkit-text-decoration: unset;
      // text-decoration: unset;
      // color: rgb(240, 244, 246); //color in black mode
      color: rgb(0, 0, 0);
      font-family: "Capsule Sans Text", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: -0.1px;
      -moz-letter-spacing: -0.1px;
      -ms-letter-spacing: -0.1px;
      letter-spacing: -0.1px;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }

    .h-2-s2 {
      // color: var(--rh__text-color);
      // font-family: var(--rh__type-palette__type1__stack);
      // font-size: var(--rh__type-palette__type1__font-size);
      // font-style: normal;
      // font-weight: var(--rh__type-palette__type1__font-weight);
      // line-height: var(--rh__type-palette__type1__line-height);
      // -webkit-letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // -moz-letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // -ms-letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // letter-spacing: var(--rh__type-palette__type1__letter-spacing);
      // -webkit-text-decoration: unset;
      // text-decoration: unset;
      // --rh__text-color: var(--rh__foundation-fg2);
      color: rgb(121, 133, 139);
      font-family: "Capsule Sans Text", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      -webkit-letter-spacing: -0.1px;
      -moz-letter-spacing: -0.1px;
      -ms-letter-spacing: -0.1px;
      letter-spacing: -0.1px;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }
  }
}

.graph-container {
  position: relative;
  .graph-container-size {
    width: 100%;
    height: 200px;
    background-color: coral;
  }
}

.nav-graph {
  border-color: rgb(48, 54, 58);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 24px;
  margin-bottom: 12px;

  .nav-list {
    height: 33px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }
}

.advertising-section {
  margin-bottom: 60px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  display: block;

  .advertising-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 0;
    padding: 24px;
    padding-right: 48px;
    position: relative;
    background-color: rgb(4, 13, 20);
    // background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(240, 244, 246);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(48, 54, 58);
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont,
      sans-serif;

    .img-container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      height: 150px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 24px 0 6px;

      .svg-container {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .content-advertising {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      .content-adv-h4 {
        margin-bottom: 12px;
        font-weight: 500;
        margin: 0 0 4px;
        font-size: 13px;
        letter-spacing: -0.1px;
        line-height: 20px;

        .adv-h4-title {
          // color: var(--rh__text-color);
          // font-family: var(--rh__type-palette__type2__stack);
          // font-size: var(--rh__type-palette__type2__font-size);
          // font-style: normal;
          // font-weight: var(--rh__type-palette__type2__font-weight);
          // line-height: var(--rh__type-palette__type2__line-height);
          // -webkit-letter-spacing: var(
          //   --rh__type-palette__type2__letter-spacing
          // );
          // -moz-letter-spacing: var(--rh__type-palette__type2__letter-spacing);
          // -ms-letter-spacing: var(--rh__type-palette__type2__letter-spacing);
          // letter-spacing: var(--rh__type-palette__type2__letter-spacing);
          // -webkit-text-decoration: unset;
          // text-decoration: unset;
          // --rh__text-color: var(--rh__foundation-fg2);
          color: rgb(121, 133, 139);
          font-family: "Capsule Sans Display", system-ui, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          -webkit-letter-spacing: -0.1px;
          -moz-letter-spacing: -0.1px;
          -ms-letter-spacing: -0.1px;
          letter-spacing: -0.1px;
          -webkit-text-decoration: unset;
          text-decoration: unset;
        }
      }
    }

    .content-adv-div {
      padding-top: 10px; //add me
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      .adv-content {
        // color: var(--rh__text-color);
        // font-family: var(--rh__type-palette__type7__stack);
        // font-size: var(--rh__type-palette__type7__font-size);
        // font-style: normal;
        // font-weight: var(--rh__type-palette__type7__font-weight);
        // line-height: var(--rh__type-palette__type7__line-height);
        // -webkit-letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // -moz-letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // -ms-letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // -webkit-text-decoration: unset;
        // text-decoration: unset;
        color: rgb(240, 244, 246);
        font-family: "Capsule Sans Display", system-ui, -apple-system,
          BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        -webkit-letter-spacing: -0.1px;
        -moz-letter-spacing: -0.1px;
        -ms-letter-spacing: -0.1px;
        letter-spacing: -0.1px;
        -webkit-text-decoration: unset;
        text-decoration: unset;
      }
    }

    .footer-adv {
      padding-top: 24px;
      .footer-adv-content {
        font-size: 16px;
        color: rgb(255, 80, 0);
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

//Section 3
.about-valuation-section {
  margin-bottom: 60px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  .header-about-section {
    margin-bottom: 24px;
    display: block;

    .container-title-about {
      border-color: rgb(48, 54, 58);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-bottom: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .title-about {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .title-content-h2 {
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin: 0;

          .title-content-span {
            // color: var(--rh__text-color);
            // font-family: var(--rh__type-palette__type16__stack);
            // font-size: var(--rh__type-palette__type16__font-size);
            // font-style: normal;
            // font-weight: var(--rh__type-palette__type16__font-weight);
            // line-height: var(--rh__type-palette__type16__line-height);
            // -webkit-letter-spacing: var(
            //   --rh__type-palette__type16__letter-spacing
            // );
            // -moz-letter-spacing: var(
            //   --rh__type-palette__type16__letter-spacing
            // );
            // -ms-letter-spacing: var(--rh__type-palette__type16__letter-spacing);
            // letter-spacing: var(--rh__type-palette__type16__letter-spacing);
            // -webkit-text-decoration: unset;
            // text-decoration: unset;
            // color: rgb(240, 244, 246);
            color: rgb(0, 0, 0);
            font-family: "Capsule Sans Display", system-ui, -apple-system,
              BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            -webkit-letter-spacing: -0.33px;
            -moz-letter-spacing: -0.33px;
            -ms-letter-spacing: -0.33px;
            letter-spacing: -0.33px;
            -webkit-text-decoration: unset;
            text-decoration: unset;
          }
        }
      }
    }
  }

  .about-container {
    margin-bottom: 15px;
    .about-h3 {
      margin: 0 0 24px;
      // max-width: 570px; Si on veut le raccourcir
      width: 100%;
      text-align: justify;

      .about-span {
        // color: var(--rh__text-color);
        // font-family: var(--rh__type-palette__type7__stack);
        // font-size: var(--rh__type-palette__type7__font-size);
        // font-style: normal;
        // font-weight: var(--rh__type-palette__type7__font-weight);
        // line-height: var(--rh__type-palette__type7__line-height);
        // -webkit-letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // -moz-letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // -ms-letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // letter-spacing: var(--rh__type-palette__type7__letter-spacing);
        // -webkit-text-decoration: unset;
        // text-decoration: unset;
        color: rgb(4, 13, 20);
        font-family: "Capsule Sans Display", system-ui, -apple-system,
          BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        -webkit-letter-spacing: -0.1px;
        -moz-letter-spacing: -0.1px;
        -ms-letter-spacing: -0.1px;
        letter-spacing: -0.1px;
        -webkit-text-decoration: unset;
        text-decoration: unset;

        .about-link {
          font-weight: 500;
          text-decoration: none;
          .about-link-span {
            // color: var(--rh__text-color);
            // font-family: var(--rh__type-palette__type3__stack);
            // font-size: var(--rh__type-palette__type3__font-size);
            // font-style: normal;
            // font-weight: var(--rh__type-palette__type3__font-weight);
            // line-height: var(--rh__type-palette__type3__line-height);
            // -webkit-letter-spacing: var(
            //   --rh__type-palette__type3__letter-spacing
            // );
            // -moz-letter-spacing: var(--rh__type-palette__type3__letter-spacing);
            // -ms-letter-spacing: var(--rh__type-palette__type3__letter-spacing);
            // letter-spacing: var(--rh__type-palette__type3__letter-spacing);
            // -webkit-text-decoration: unset;
            // text-decoration: unset;
            color: rgb(4, 13, 20);
            font-family: "Capsule Sans Display", system-ui, -apple-system,
              BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            -webkit-letter-spacing: -0.1px;
            -moz-letter-spacing: -0.1px;
            -ms-letter-spacing: -0.1px;
            letter-spacing: -0.1px;
            -webkit-text-decoration: unset;
            text-decoration: unset;
          }
        }

        .about-span-no-display {
          display: none;
        }
      }
    }

    //Valuation grid
    .grid-valuation {
      padding-top: 18px;
      .grid-element-container {
        width: 100%;
        display: grid;
        grid:
          "e1 e2 e3 e4" 100px
          "e5 e6 e7 e8" 100px
          "e9 e10 e11 e12" 100px
          "e13 e14 e15 e16" 100px /
          1fr 1fr 1fr 1fr;
        place-items: center left;
      }

      .col-mg-val-1 {
        grid-area: e1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-2 {
        grid-area: e2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-3 {
        grid-area: e3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-4 {
        grid-area: e4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-5 {
        grid-area: e5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-6 {
        grid-area: e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-7 {
        grid-area: e7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-8 {
        grid-area: e8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-9 {
        grid-area: e9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-10 {
        grid-area: e10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-11 {
        grid-area: e11;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .col-mg-val-12 {
        grid-area: e12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }
      .col-mg-val-13 {
        grid-area: e13;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }
      .col-mg-val-14 {
        grid-area: e14;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }

      .name-data {
        margin-left: 5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }
      .value-data {
        margin-left: 5rem;
      }
    }
  }
}

// Section 4
.collection-tags-section {
  margin-bottom: 60px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  .header-tags-section {
    margin-bottom: 24px;
    display: block;

    .container-title-tags {
      border-color: rgb(48, 54, 58);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-bottom: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .title-tags {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .title-content-h2 {
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin: 0;

          .title-content-span {
            // color: var(--rh__text-color);
            // font-family: var(--rh__type-palette__type16__stack);
            // font-size: var(--rh__type-palette__type16__font-size);
            // font-style: normal;
            // font-weight: var(--rh__type-palette__type16__font-weight);
            // line-height: var(--rh__type-palette__type16__line-height);
            // -webkit-letter-spacing: var(
            //   --rh__type-palette__type16__letter-spacing
            // );
            // -moz-letter-spacing: var(
            //   --rh__type-palette__type16__letter-spacing
            // );
            // -ms-letter-spacing: var(--rh__type-palette__type16__letter-spacing);
            // letter-spacing: var(--rh__type-palette__type16__letter-spacing);
            // -webkit-text-decoration: unset;
            // text-decoration: unset;
            // color: rgb(240, 244, 246);
            color: rgb(0, 0, 0);
            font-family: "Capsule Sans Display", system-ui, -apple-system,
              BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            -webkit-letter-spacing: -0.33px;
            -moz-letter-spacing: -0.33px;
            -ms-letter-spacing: -0.33px;
            letter-spacing: -0.33px;
            -webkit-text-decoration: unset;
            text-decoration: unset;
          }
        }
      }
    }
  }

  .tags-div-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -6px;
    // max-width: 570px;
    width: 100%;
    margin-top: 4px;
  }
}
