// Define variables for your color scheme

// For example:
$color: black;
$body-color: #ecf0f1;
$color1: #566473;
$color2: #16a085;
$color3: #435a6b;
$color4: red;
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$blue-fix: #30475e;
$white-fix: #fffdf9;
$white: #ffffff;
//Color add
$dark-nb: #333;
$primary-nb: #be2529;
$gray-light-nb: #eee;

//Header + nav variables
$nav-width: 100%;
$nav-max-width: 480px;
$nav-border-radius: 30px;
$nav-link-height: 60px;
$nav-link-width: 51px;
$nav-icon-size: 17px;
$nav-circle-size: 5px;
$nav-circle-radius: 50%;
$nav-link-font-size: 14px;
$nav-link-font-weight: 500;
$nav-link-text-z-index: 1;
$nav-link-text-mask-z-index: 2;
$nav-icon-z-index: 3;
$nav-icon-mask-z-index: 4;
//Colors
$body-background-color: #fff;
$container-background-color: #fff;
$nav-background-color: #fff;
$nav-icon-color: rgba(0, 0, 0, 0.54);
$nav-link-text-color: rgba(0, 0, 0, 0.84);

//Stock show variables
$rh_text-color-white: rgb(240, 244, 246);
$rh_text-color-black: rgb(0, 0, 0);
$rh_text-color-black-spec: rgb(0, 0, 0);
$rh_text-color-grey: rgb(121, 133, 139);

$family-font-show: "Capsule Sans Display", system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$rh_font_size_32: 32px;
$rh_font-weight-500: 500;
$rh_line-height-40: 40px;
$rh_letter_space-33: -0.33px;
$rh_letter_space-01: -0.1px;
