$color1: #16a085;

//Admin

.portfolio-index-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .button.type2 {
    color: $color1;
    &.type2:after,
    &.type2:before {
      background-color: $color1;
    }

    &.type2::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }
}

//Portfolios
.portfolio-index-nav-container {
  max-width: 1100px;
  width: 100%;
}
.accordion {
  &-tabs {
    display: none;
    :focus {
      outline: none;
    }
  }

  &-item {
    position: relative;
    z-index: 1;

    &__container {
      padding: 0 1.25em;
      height: 0;
      opacity: 0;
      transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
    }
  }

  &-active {
    .accordion-item {
      &__label {
        padding-bottom: 0;
        cursor: inherit;

        &:hover {
          background: none;
        }

        &:after {
          opacity: 0;
        }
      }

      &__container {
        padding: 1.25em;
        height: auto;
        opacity: 1;
      }
    }
  }
}

//Accordions

.portfolio-index-table {
  li {
    transition: box-shadow 0.3s;
    border-radius: 3px;
    padding: 25px 20px;
    display: grid;
    grid-template-areas: "e1 e2 e3 e4 e5 e6";
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 80px);
    place-items: center center;
    place-content: center space-evenly;
    text-align: center;
    margin-bottom: 25px;
    @media all and (max-width: 680px) {
      grid-template-areas: "e2 e3 e4 e5 e6";
      grid-template-columns: repeat(5, 1fr);
    }

    @media all and (max-width: 600px) {
      display: grid;
      grid:
        "e2" 1fr
        "e3" 1fr
        "e4" 1fr
        "e5" 1fr
        "e6" 1fr /
        auto;
      place-items: center center;
      grid-template-columns: 1fr;
    }
  }

  .portfolio-index-table-header {
    // margin-top: 1rem; A rajouter si user est pas admin, how ?
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: rgba(12, 242, 143, 0.2);
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    @media all and (max-width: 600px) {
      max-height: fit-content;
    }
    @media all and (max-width: 785px) {
      font-size: 18px;
    }
  }

  .portfolio-index-row {
    font-family: "lato", sans-serif;
    font-size: 14px; //set Name to 14px
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
    @media all and (max-width: 600px) {
      line-height: 32px;
    }
  }

  .font-size {
    //override row font-size except Name
    font-size: 18px;
  }

  .portfolio-index-a {
    text-decoration: none;
    grid-column: 1/7;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    @media all and (max-width: 600px) {
      grid-row: 1/6;
    }
  }

  .col-nb-1 {
    grid-area: e1;
    @media all and (max-width: 680px) {
      display: none;
    }
  }
  .col-nb-2 {
    grid-area: e2;
  }
  .col-nb-3 {
    grid-area: e3;
  }
  .col-nb-4 {
    grid-area: e4;
  }
  .col-nb-5 {
    grid-area: e5;
  }
  .col-nb-6 {
    grid-area: e6;
  }
}
