.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  margin-bottom: 8px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner-p {
  font-size: 20px;
  color: white-fix;
  opacity: 0.7;
  text-decoration: none;
}

//Banner financial news robinhood
.banner-newsflow {
  .banner-financial-news {
    border-radius: 4px;
    margin: 0 -30px;
    padding: 30px;
    position: relative;
    -webkit-transition: background 150ms;
    transition: background 150ms;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);

    .banner-financial-news-ctn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 134px;

      .banner-financial-content {
        padding-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 196px;

        .src-financial-news {
          margin-top: -4px;
          .src-ft {
            font-weight: 500;
          }
          .src-date-ft {
            color: #6f787e;
            margin-left: 6px;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.1px;
            line-height: 20px;
            margin: 0;
          }
        }

        .ctn-article-ct {
          margin: 4px 0;
          max-height: 10.5ex;
          max-width: 600px;
          overflow: hidden;

          .ctnt-title {
            font-size: 15px;
            font-weight: 700;
            letter-spacing: -0.1px;
            line-height: 20px;
            margin: 0;
            margin-bottom: 2px;
          }

          .ctnt-date {
            color: rgb(111, 120, 126);
            font-family: "Capsule Sans Display", system-ui, -apple-system,
              BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.1px;
            text-decoration: unset;

            .ctnt-ct {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              box-sizing: inherit;
            }
          }
        }
        .svg-ctnt-ft {
          margin-top: 0.5rem;
          color: #6f787e;
          fill: #6f787e;
        }
      }

      .banner-financial-img {
        flex-shrink: 0;
        height: 134px;
        width: 196px;
        border-radius: 4px;
        .img-fluid-ft {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .link-to-article {
      bottom: 0px;
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: transparent;
      text-decoration: inherit;
      color: inherit;
    }
  }
}
