//File : banner.scss

.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  margin-bottom: 8px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner-p {
  font-size: 20px;
  color: white-fix;
  opacity: 0.7;
  text-decoration: none;
}

// Banner stock show section 6 :
//Structure HTML :
// <div class="banner-newsflow">
//   <div class="banner-financial-news">
//     <div class="banner-financial-news-ctn">
//       <div class="banner-financial-content">
//         <div class="src-financial-news">
//           <span class="src-ft">Financial Times,</span>
//           <span class="src-date-ft">6h</span>
//         </div>
//         <div class="ctn-article-ct">
//           <h3 class="ctnt-title">Lorem100</h3>
//           <div>
//             <span class="ctnt-date"><span class="ctnt-ct">London, BG</span></span>
//           </div>
//         </div>
//         <span class="svg-ctnt-ft"><svg title="0 views" width="14" height="11" viewBox="0 0 14 11"><path fill-rule="evenodd" d="M7,10.8888889 C3.13400675,10.8888889 0,7.04766168 0,5.44444444 C9.81687425e-17,3.84122721 3.13400675,0 7,0 C10.8659932,0 14,3.84312609 14,5.44444444 C14,7.0457628 10.8659932,10.8888889 7,10.8888889 Z M7,7.77777778 C8.28866442,7.77777778 9.33333333,6.73310886 9.33333333,5.44444444 C9.33333333,4.15578003 8.28866442,3.11111111 7,3.11111111 C5.71133558,3.11111111 4.66666667,4.15578003 4.66666667,5.44444444 C4.66666667,6.73310886 5.71133558,7.77777778 7,7.77777778 Z"></path></svg></span>
//       </div>
//       <div class="banner-financial-img">
//         <%= image_tag "", class:"img-fluid-ft" %>
//       </div>
//       <%= link_to "", "", class: "link-to-article", :target => "_blank" %>
//     </div>
//   </div>
// </div>
.banner-newsflow {
  width: 900px;
  .banner-financial-news {
    border-radius: 4px;
    margin: 0 -30px;
    padding: 30px;
    position: relative;
    -webkit-transition: background 150ms;
    transition: background 150ms;

    .banner-financial-news-ctn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 134px;

      .banner-financial-content {
        padding-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 196px;

        .src-financial-news {
          margin-top: -4px;
          .src-ft {
            font-weight: 500;
          }
          .src-date-ft {
            color: #6f787e;
            margin-left: 6px;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.1px;
            line-height: 20px;
            margin: 0;
          }
        }

        .ctn-article-ct {
          margin: 4px 0;
          max-height: 10.5ex;
          width: 100%;
          overflow: hidden;

          .ctnt-title {
            font-size: 15px;
            font-weight: 700;
            letter-spacing: $rh_letter_space-01;
            line-height: 20px;
            margin: 0;
            margin-bottom: 2px;
          }

          .ctnt-date {
            color: rgb(111, 120, 126);
            font-family: $family-font-show;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.1px;
            text-decoration: unset;

            .ctnt-ct {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              box-sizing: inherit;
            }
          }
        }
        .svg-ctnt-ft {
          margin-top: 0.5rem;
          color: #6f787e;
          fill: #6f787e;
        }
      }

      .banner-financial-img {
        flex-shrink: 0;
        height: 134px;
        width: 196px;
        border-radius: 4px;
        .img-fluid-ft {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .link-to-article {
      bottom: 0px;
      left: 0px;
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: transparent;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

//Structure HTML : banner-header of each stock show section : StockName, Collections, News ...
// <header class="header-section">
// <div class="container-title-section">
// <div class="title-section"><h2 class="title-content-h2"><span class="title-content-span">About <%= @stock.name %></span></h2></div></div>
// </header>
.header-section {
  margin-bottom: 24px;
  display: block;

  .container-title-section {
    border-color: rgb(48, 54, 58);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .title-section {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .title-content-h2 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0;

        .title-content-span {
          color: $rh_text-color-black;
          font-family: $family-font-show;
          font-size: 24px;
          font-style: normal;
          font-weight: $rh_font-weight-500;
          line-height: 32px;
          -webkit-letter-spacing: $rh_letter_space-33;
          -moz-letter-spacing: $rh_letter_space-33;
          -ms-letter-spacing: $rh_letter_space-33;
          letter-spacing: $rh_letter_space-33;
          -webkit-text-decoration: unset;
          text-decoration: unset;
        }
      }
    }
  }
}

//Banner section 7: analyste investment values
//HTML
// <div class="banner-analyst-ctn">
//   <div class="analyst-name">Buy</div>
//   <div class="analyst-ctn">
//     <div class="analyst-value" style="left: 21.0526%;"><span class="span-value">21 %</span></div>
//     <div class="loading-value">
//       <div class="loaded-value" style="width: 21.0526%;"></div>
//     </div>
//   </div>
//</div>
.banner-analyst-ctn {
  margin-bottom: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(4, 100, 126);

  .analyst-name {
    font-weight: 500;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 34px;
    margin-right: 0.5rem;
  }

  .analyst-ctn {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 6px;
    position: relative;

    .analyst-value {
      left: 21.0526%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      position: absolute;
      top: 0;

      .span-value {
        font-weight: 500;
        // background-color: rgb(4, 13, 20);
        background-color: rgb(255, 255, 255);
        padding-left: 3px;
        padding-right: 3px;
        letter-spacing: -0.5px;
      }
    }

    .loading-value {
      background: rgba(4, 100, 126, 0.2); //Ombre (partie droite)
      border-radius: 4px;
      height: 100%;
      overflow: hidden;
      .loaded-value {
        background: #04647e; //couleur pleine partie gauche
        width: 21.0526%;
        border-radius: 4px 0 0 4px;
        height: 100%;
      }
    }
  }
}
