//File : button.scss

.btn-ghost {
  color: #084177;
  border: 1px solid #084177;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white !important;
  padding: 8px 24px;
  width: 120px !important;
  border-radius: 24px !important;
  background: #084177 !important;
  transition: background 0.3s ease;
  border: 1px solid white !important;
}

.btn-flat:hover {
  color: rgb(255, 80, 0) !important;
  border: 1px solid rgb(255, 80, 0) !important;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.bg-success {
  border-radius: 8px;
}
// /////////////////////////////////////////////////////////////////
//Bouton rbh :
//Arhitecture HTML:
// <div class="tags-btn-rbh">
// <a class="a-tags-link a-tags-inherit" rel href="#">
//   <span class="btn-tags-span">Road Transportation</span>
// </a>
// </div>

//Architecture CSS
.tags-btn-rbh {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  margin: 0 12px 12px 0;

  .a-tags-link {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    height: 28px;
    background-color: rgba(255, 80, 0, 0.2);
    fill: rgb(240, 244, 246);
    cursor: pointer;
    border-radius: 17px;
    overflow: hidden;
    padding: 0px 12px 1px;
  }

  .a-tags-inherit {
    color: inherit;
    text-decoration: inherit;
  }

  .btn-tags-span {
    color: rgb(255, 80, 0);
    font-family: $family-font-show;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: $rh_letter_space_01;
    text-decoration: unset;
  }
}
// ///////////////////////////////////////////////////////////////////////////
//Button nav-rbh (under first graph stock show)
//Structure HTML :
// <button type="button" class="btn-nav-rbh"></button>
//Structure CSS
.btn-nav-rbh {
  cursor: pointer;
  appearance: none;
  background: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
  padding: 0px;

  .btn-nav-rbh-span-1 {
    color: $rh_text-color-black;
    font-family: $family-font-show;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    -webkit-letter-spacing: $rh_letter_space_01;
    -moz-letter-spacing: $rh_letter_space_01;
    -ms-letter-spacing: $rh_letter_space_01;
    letter-spacing: $rh_letter_space_01;
    -webkit-text-decoration: unset;
    text-decoration: unset;

    .btn-nav-rbh-pb {
      padding-bottom: 12px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 12px;
      position: relative;
    }
  }
  &:focus {
    outline: none;
  }
}

//////////////////////////////////////////////////////////////////////////////
//Buttons section you may also like
//Link to another stock
// <span class="btn-also-like">
//   <a class="btn-ctn" rel="" href="#"><span class="also-s">BGLTV</span></a>
// </span>

.btn-also-like {
  margin: 0 12px 12px 0;

  .btn-ctn {
    background: white;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 28px;
    padding: 0 12px 1px;
    border: 1px solid rgb(48, 54, 58);
    border-radius: 2px;
    text-decoration: none;
    transition: 0.3s;

    .also-s {
      font-family: $family-font-show;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: $rh_letter_space_01;
      -moz-letter-spacing: $rh_letter_space_01;
      -ms-letter-spacing: $rh_letter_space_01;
      letter-spacing: $rh_letter_space_01;
      -webkit-text-decoration: unset;
      text-decoration: unset;
      color: $rh_text-color-black;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.active-border {
  border-bottom: 3px solid blue;
}
//////////////////////////////////////////////////////////////////////////////
// HTML structure example
// <div class="portfolio-index-admin">
//   <a href="portfolios/new"><button class="button type2">New Portfolio</button></a>
// </div>

.button {
  position: relative;
  padding: 1rem 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  margin: 1.5rem;
  &:focus {
    outline-style: none;
  }

  &.type1 {
    color: $color1;
    &.type1::after,
    &.type1::before {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }

    &.type1::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: $color1;
      border-right-color: $color1;
    }

    &.type1::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: $color1;
      border-left-color: $color1;
    }

    &.type1:hover:after,
    &.type1:hover:before {
      width: 100%;
      height: 100%;
    }
  }

  &.type2 {
    // Effect 2
    color: $color1;
    &.type2:after,
    &.type2:before {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      transition: all 0.3s ease;
      transform: scale(0.85);
      background-color: $color1;
    }

    &.type2:hover:before {
      top: 0;
      transform: scale(1);
    }

    &.type2:hover:after {
      transform: scale(1);
    }

    &.type2::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }

  &.type3 {
    color: $color3;
    &.type3::after,
    &.type3::before {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }

    &.type3::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: $color3;
      border-right-color: $color3;
    }

    &.type3::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: $color3;
      border-left-color: $color3;
    }

    &.type3:hover:after,
    &.type3:hover:before {
      border-bottom-color: $color3;
      border-right-color: $color3;
      border-top-color: $color3;
      border-left-color: $color3;
      width: 100%;
      height: 100%;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//HTML Button portfolio
// <button class="button-tab-ptf" data-actab-group="0" data-actab-id="0" data-name="<%= Portfolio.find_by(fund: "BGLTV").fund %>" data-date="<%= Portfolio.last.date.strftime("%d/%m/%y") %>" data-weight="<%= @bgltv.sum("weight").round(2) %>" data-aum="<%= number_with_delimiter(@bgltv.last.aum, :delimiter => ",", :separator => ".") %>"><div class="circle"><i class="fas fa-hashtag"></i></div>BGLTV</button>
.button-tab-ptf {
  display: inline-flex;
  font-size: 16px;
  line-height: 32px;
  padding: 6px;
  padding-right: 10px;
  margin: 8px;
  height: 42px;
  color: rgba(117, 117, 117, 1);
  border-radius: 99em;
  background-color: rgba(242, 242, 242, 1);
  align-items: center;
  text-align: center;
  border-style: none;
  @media all and (max-width: 1023px) {
    margin: 0;
  }
  @media all and (max-width: 419px) {
    font-size: 14px;
    &:nth-child(1) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  @media all and (max-width: 357px) {
    font-size: 12px;
  }
  .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: rgb(30, 27, 29);
    margin-right: 0.5rem;
    opacity: 0.9;
    @media all and (max-width: 357px) {
      height: 25px;
      width: 25px;
    }
    i {
      color: rgba(255, 255, 255, 1);
      font-size: 13px;
    }
  }
}
