.btn-ghost {
  color: #084177;
  border: 1px solid #084177;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  background: #084177;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1bcb7f;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.bg-success {
  border-radius: 8px;
}
// /////////////////////////////////////////////////////////////////
//Bouton rbh :

//Arhitecture HTML:
// <div class="tags-btn-rbh">
// <a class="a-tags-link a-tags-inherit" rel href="#">
//   <span class="btn-tags-span">Road Transportation</span>
// </a>
// </div>

//Architecture CSS
.tags-btn-rbh {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  margin: 0 12px 12px 0;

  .a-tags-link {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    height: 28px;
    background-color: rgba(255, 80, 0, 0.2);
    fill: rgb(240, 244, 246);
    cursor: pointer;
    border-radius: 17px;
    overflow: hidden;
    padding: 0px 12px 1px;
  }

  .a-tags-inherit {
    color: inherit;
    text-decoration: inherit;
  }

  .btn-tags-span {
    color: rgb(255, 80, 0);
    font-family: $family-font-show;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: $rh_letter_space_01;
    text-decoration: unset;
  }
}
// ///////////////////////////////////////////////////////////////////////////
//Button nav-rbh (under first graph)
//Structure HTML :
// <button type="button" class="btn-nav-rbh"></button>
//Structure CSS
.btn-nav-rbh {
  cursor: pointer;
  appearance: none;
  background: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
  padding: 0px;

  .btn-nav-rbh-span-1 {
    color: $rh_text-color-black;
    font-family: $family-font-show;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    -webkit-letter-spacing: $rh_letter_space_01;
    -moz-letter-spacing: $rh_letter_space_01;
    -ms-letter-spacing: $rh_letter_space_01;
    letter-spacing: $rh_letter_space_01;
    -webkit-text-decoration: unset;
    text-decoration: unset;

    .btn-nav-rbh-pb {
      padding-bottom: 12px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 12px;
      position: relative;
    }
  }
  &:focus {
    outline: none;
  }
}

//Robinhod button card
//HTML
// <button type="button" class="comments-card">
//   <div class="comments-card-ctn">
//     <div><span class="card-date">15 juil. 2020</div>
//     <div class="card-title">
//       <h3 class="title-content">
//         <span class="title-span">Ford brings back its iconic Jeep rival — but it might need to gas itself up more</span>
//       </h3>
//     </div>
//     <a class="link-card" href="#" rel="nofollow noopener">Read More</a>
//   </div>
// </button>

//CSS
.comments-card {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  padding: 0;
  -webkit-appearance: none;
  text-align: unset;
  color: unset;

  &:focus {
    outline: none;
  }

  .comments-card-ctn {
    padding: 24px;
    cursor: pointer;
    height: 200px;
    margin-right: 12px;
    width: 218px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(48, 54, 58);

    .card-date {
      color: $rh_text-color-grey;
      font-family: $family-font-show;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: $rh_letter_space_01;
      -moz-letter-spacing: $rh_letter_space_01;
      -ms-letter-spacing: $rh_letter_space_01;
      letter-spacing: $rh_letter_space_01;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }

    .card-title {
      height: 100px;
      .title-content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
        margin: 0;

        .title-span {
          color: rgb(4, 13, 20);
          font-family: "Capsule Sans Display", system-ui, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: 700;
          line-height: 24px;
          -webkit-letter-spacing: -0.1px;
          -moz-letter-spacing: -0.1px;
          -ms-letter-spacing: -0.1px;
          letter-spacing: -0.1px;
          text-decoration: unset;
        }
      }
    }
    .link-card {
      color: #04647e;
      font-weight: 500;
      font-size: 13px;
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

//Modale CSS

.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll !important; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    // set style to track
    background: #555999;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    // sets style to thumb
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 14px;

    /* The Close Button */
    .close-modal {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

//Buttons section you may also like
//Link to another stock
.btn-also-like {
  margin: 0 12px 12px 0;

  .btn-ctn {
    background: white;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 28px;
    padding: 0 12px 1px;
    border: 1px solid rgb(48, 54, 58);
    border-radius: 2px;
    text-decoration: none;
    transition: 0.3s;

    .also-s {
      font-family: $family-font-show;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: $rh_letter_space_01;
      -moz-letter-spacing: $rh_letter_space_01;
      -ms-letter-spacing: $rh_letter_space_01;
      letter-spacing: $rh_letter_space_01;
      -webkit-text-decoration: unset;
      text-decoration: unset;
      color: $rh_text-color-black;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.active-border {
  border-bottom: 3px solid blue;
}
