
 a {
  font-size: 12px;
 }

 .cards {
  overflow-y: scroll;
 }

.card-body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.card {
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  overflow-y: scroll;
}

.card-title{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card-product {
  overflow-y: scroll;
  height: 200px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.10);
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  margin-left: 4px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 550px;
}

.card-product-target {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.10);
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.card-product-target img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  margin-left: 4px;
}

.card-product-target h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-target p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-target .card-product-infos-target {
  padding: 16px;
  width: 250px;
}

.rumors {
  background-color: #dee3e2;

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.comments-card {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  padding: 0;
  -webkit-appearance: none;
  text-align: unset;
  color: unset;

  &:focus {
    outline: none;
  }

  .comments-card-ctn {
    padding: 24px;
    cursor: pointer;
    height: 200px;
    margin-right: 12px;
    width: 218px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    .card-date {
      color: $rh_text-color-grey;
      font-family: $family-font-show;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      -webkit-letter-spacing: $rh_letter_space_01;
      -moz-letter-spacing: $rh_letter_space_01;
      -ms-letter-spacing: $rh_letter_space_01;
      letter-spacing: $rh_letter_space_01;
      -webkit-text-decoration: unset;
      text-decoration: unset;
    }

    .card-title {
      height: 100px;
      .title-content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.1px;
        line-height: 20px;
        margin: 0;

        .title-span {
          color: rgb(4, 13, 20);
          font-family: "Capsule Sans Display", system-ui, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: 700;
          line-height: 24px;
          -webkit-letter-spacing: -0.1px;
          -moz-letter-spacing: -0.1px;
          -ms-letter-spacing: -0.1px;
          letter-spacing: -0.1px;
          text-decoration: unset;
        }
      }
    }
    .link-card {
      color: #04647e;
      font-weight: 500;
      font-size: 13px;
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

