
 a {
  font-size: 12px;
 }

 .cards {
  overflow-y: scroll;
 }

.card-body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.card {
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.card-title{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.10);
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  margin-left: 4px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 550px;
}

.card-product-target {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.10);
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.card-product-target img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  margin-left: 4px;
}

.card-product-target h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-target p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-target .card-product-infos-target {
  padding: 16px;
  width: 250px;
}

.area {
  width: 300px;
  height: 300px;
  background: url(../images/abe-bg.png) no-repeat;
  position: relative;
}

.bubble {
  position: absolute;
  left: 93px;
  top: 21px;
  width: 135px;
  height: 84px;
  display: table;
}

.bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
