$color1: #16a085;

//Admin

.stock-show-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .button.type2 {
    color: $color1;
    &.type2:after,
    &.type2:before {
      background-color: $color1;
    }

    &.type2::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }
}

//Non admin
.stock-show-no-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .button.type2 {
    color: $color1;
    cursor: default;
    &.type2:after,
    &.type2:before {
      background-color: $color1;
    }

    &.type2::before {
      border-top-color: $color1;
      border-left-color: $color1;
    }
  }
}

// Active button
.m_button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);

  span:nth-child(2) {
    transform-origin: 50% 50%;
  }
}

.m_button-active {
  box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9,
    inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003,
    inset 4px 4px 5px 0px #0001;
}
//Stocks show
.stock-show-nav-container {
  max-width: 1100px;
  width: 100%;

  .stock-show-header-container {
    visibility: visible;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: #1abc9c;
    height: 65px;
    position: sticky;
    top: 50px;
    z-index: 2;
    border-radius: 3px;
    &.no-display {
      display: none;
    }

    .stock-show-title {
      display: flex;
      width: 100%;
      padding-right: 5%;
      color: #fff;
      justify-content: center;
      align-items: center;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .stock-show-button {
      position: relative;
      display: flex;
      width: 5%;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      -webkit-appearance: none;
      border: 0;
      background: transparent;
      border-radius: 0;
      height: 70px;
      width: 30px;
      cursor: pointer;
      margin-left: 25px;
      touch-action: manipulation;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      .icon-bar {
        display: block;
        width: 100%;
        height: 3px;
        background: white;
        transition: 0.3s;
      }
      .icon-bar + .icon-bar {
        margin-top: 5px;
      }

      &:focus {
        outline-style: none;
      }
    }
  }

  .stock-show-tab {
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: auto;
    background: #1abc9c;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-200%);
    transition: transform 0.3s;
    will-change: transform;
    contain: paint;
    z-index: 2;
    &:focus {
      outline: none;
    }
    &.no-display {
      display: none;
    }
  }

  .stock-show-tab ul {
    position: sticky;
    top: 135px;
    .accordion-tab {
      font-family: "Roboto Condensed", sans-serif;
      border-style: none;
      background-color: #1abc9c;
      color: white;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      border-bottom: dashed 0.1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      display: block;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background: #000;
  }

  .show-bg-body {
    position: absolute;
    top: 265px;
    bottom: 0;
    width: 80%;
    max-width: 1100px;
    background: white;
  }

  &.active-bg .bg {
    visibility: visible;
    opacity: 0.6;
  }

  &.active-logo-top .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  &.active-logo-middle .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  &.active-logo-bottom .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  &.active-sidebar .stock-show-tab {
    transform: none;
  }

  &.cancel-event {
    pointer-events: none;
    cursor: default;
  }

  &.active-cursor .stock-show-button {
    pointer-events: initial;
    cursor: pointer;
  }
}

.accordion {
  &-tabs {
    display: none;
    :focus {
      outline: none;
    }
  }

  &-item {
    position: relative;
    z-index: 1;

    &__container {
      padding: 0 1.25em;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
    }
  }

  &-active {
    .accordion-item {
      &__label {
        padding-bottom: 0;
        cursor: inherit;

        &:hover {
          background: none;
        }

        &:after {
          opacity: 0;
        }
      }

      &__container {
        padding: 1.25em;
        height: auto;
        opacity: 1;
      }
    }
  }
}

.stock-show-timeline {
  width: 4px;
  margin-top: 12px;
  border-radius: 50px;
  margin-left: 130px;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 3rem;
  background: #1abc9c;
  opacity: 1;
}
//Accordions

.stock-show-table {
  li.li-box {
    width: 100%;
    transition: box-shadow 0.3s;
    border-radius: 3px;
    display: grid;
    grid-template-areas: "e1 e2 e3 e4 e5";
    grid-template-rows: auto;
    grid-template-columns: 85px 50px 20fr 1fr 1fr;
    place-content: center left;
    margin-bottom: 25px;
    transition: box-shadow 0.3s;
    border-radius: 3px;
    padding: 25px 0;
    margin-bottom: 25px;
  }
  &.no-display {
    display: none;
  }

  .content-window {
    visibility: hidden;
    position: absolute;
    top: -65px;
    left: 0;
    max-width: 1100px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    z-index: 2;

    &.show-content {
      visibility: visible;
      cursor: default;
      height: fit-content;
    }
  }
}

.stock-show-row {
  font-family: "lato", sans-serif;
  font-size: 14px;
}

.col-nb-1-stock-show {
  grid-area: e1;
  padding: 0 1.5rem;
  margin-left: 2rem;
}
.col-nb-2-stock-show {
  grid-area: e2;
  padding: 0 1.7rem;
  font-size: 20px;
  color: #1abc9c;
}
.col-nb-3-stock-show {
  grid-area: e3;
  padding-left: 5%;
}
.col-nb-4-stock-show {
  grid-area: e4;
  padding: 0 1rem;
  font-size: 16px;
}
.col-nb-5-stock-show {
  grid-area: e5;
  padding: 0 1rem;
  margin-right: 2rem;
  font-size: 16px;
}

.min-height {
  min-height: calc(100vh - 265px);
}

//MorningStar

.morning-star-grid-positive {
  width: 100%;
  position: relative;
  transition: box-shadow 0.3s;
  border-radius: 3px;
  display: grid;
  grid:
    "e1 e2 e3 e4" 25vh /
    1fr 1fr 1fr 1fr;
  place-items: end center;
}

.morning-star-grid-data-name {
  width: 100%;
  position: relative;
  transition: box-shadow 0.3s;
  border-radius: 3px;
  display: grid;
  grid:
    "e1 e2 e3 e4" 3rem /
    1fr 1fr 1fr 1fr;
  place-items: center center;
  padding-top: 0.2rem;
  margin-bottom: 2rem;
}

.col-mg-1 {
  grid-area: e1;
}

.col-mg-2 {
  grid-area: e2;
}

.col-mg-3 {
  grid-area: e3;
}

.col-mg-4 {
  grid-area: e4;
}

.col-mg-5 {
  grid-area: e1;
}

.col-mg-6 {
  grid-area: e2;
}

.col-mg-7 {
  grid-area: e3;
}

.col-mg-8 {
  grid-area: e4;
}

//z-index-name basic à 2 set property z-index sur les bprders en fonctions des datas
.col-mg-data {
  background-color: wheat;
  width: 50px;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.2rem;
  // z-index: 2; //Pour faire revenir l'élément devant
}

.col-mg-graph {
  background-color: violet;
  width: 50px;
  animation: example 5s ease-in forwards; //Le forward retiens bien la dernière fram
}

@keyframes example {
  from {
    height: 0;
  }
  to {
    height: 20vh;
  }
}
