$color1: #16a085;

//admin part

.ipos-index-admin {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Ipo Index

$bg-color: #e6e5e1;
$shdow-gray: #d3d3d5;
$orange: #da4d1d;
$blue: #2b26c3;
$img-url: "https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80";
$img-url2: "https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80";

.ipo-index-i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ipo-index-h2 {
  pointer-events: none;
}

.ipo-index-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card-ipo-index {
    position: relative;
    max-width: 1100px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);

      .fa-arrow-right {
        z-index: 98;
        position: absolute;
        right: 30%;
        bottom: 45%;
        font-size: 80px;
        opacity: 0.99;
        @media all and (max-width: 580px) {
          font-size: 45px;
        }
        @media (min-width: 580px) and (max-width: 800px) {
          font-size: 60px;
          bottom: 60%;
        }
      }
    }

    &:before {
      content: "";
      z-index: 98;
      position: absolute;
      top: -10px;
      left: 32px;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: $bg-color;
      @media all and (max-width: 800px) {
        display: none;
      }
    }
    &:after {
      content: "";
      z-index: 98;
      position: absolute;
      bottom: -10px;
      left: 32px;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: $bg-color;
      @media all and (max-width: 800px) {
        display: none;
      }
    }
    .ipo-index-ul {
      z-index: 98;
      position: absolute;
      left: 39px;
      top: 5px;
      list-style-type: none;
      .ipo-index-li {
        width: 2px;
        height: 2px;
        border-radius: 2px;
        margin: 6px 0;
        background-color: $bg-color;
      }
      @media all and (max-width: 800px) {
        display: none;
      }
    }
    .ipo-index-h2 {
      z-index: 98;
      font-family: "Poppins", sans-serif;
      position: absolute;
      bottom: 0;
      right: 25%;
      font-size: 60px;
      font-weight: 700;
      color: #fff;
      text-align: right;
      @media all and (max-width: 580px) {
        font-size: 30px;
      }
      @media (min-width: 580px) and (max-width: 1100px) {
        font-size: 45px;
      }
    }

    .p-ipo-index {
      z-index: 98;
      position: absolute;
      top: 20px;
      right: 17%;
      color: #333;
      opacity: 0.7;
      font-size: 12px;
      letter-spacing: 1px;
      writing-mode: vertical-lr;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      cursor: default;
      @media all and (max-width: 400px) {
        right: 12%;
      }
      @media (min-width: 400px) and (max-width: 580px) {
        right: 14%;
      }
    }
    .pic {
      z-index: 98;
      width: 80%;
      float: left;
      height: 200px;
      background: linear-gradient(to right, #373b44, #4286f4);
      background-size: 100% 100%;
      filter: grayscale(20%);
    }

    .ipo-timeline {
      position: absolute;
      left: 5%;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 180px;
      height: 64px;
      border-radius: 80px;
      @media all and (max-width: 580px) {
        left: 0;
        width: 140px;
      }
    }

    .ipo-timeline i:nth-of-type(1) {
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.1s;
    }

    .ipo-timeline i:nth-of-type(2) {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.1s;
    }

    &:hover .ipo-index-i {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      @media all and (max-width: 580px) {
        transform: scale(0.8);
      }
    }

    button {
      position: absolute;
      right: 1.5%;
      bottom: 7%;
      width: 30px;
      height: 30px;
      background-color: $orange;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
      mix-blend-mode: hard-light;

      .ipo-index-i {
        font-size: 3rem;
      }

      .ipo-index-a {
        display: inline-block;
        width: 100%;
        height: 100px;
        cursor: pointer;
      }
    }

    &:hover button {
      transform: scale(20);
      @media all and (max-width: 580px) {
        transform: scale(12.5);
      }
    }

    &:hover p {
      color: #fff;
    }

    &:hover .pic {
      filter: grayscale(0);
    }
  }
}
