<header class="header-nb">
  <a href="/" class="a-nb logo">Boussard & Gavaudan</a>
  <div class="container-nav-brand d-flex flex-column flex-1 align-items-center justify-content-center">
  <nav class="nav-brand">
    <ul class="ul-brand">
      <li class="li-brand">
        <a href="#" class="a-brand d-flex justify-content-center align-items-center link">
          <i class="i-brand fas fa-home material-icons-outlined"></i>
          <span class="span-brand">home</span>
        </a>
      </li>
      <li class="li-brand">
        <a href="#" class="a-brand d-flex justify-content-center align-items-center dark-light-mode">
          <i class="i-brand fas fa-adjust material-icons-outlined"></i>
          <span class="span-brand"><i class="far fa-moon"></i></span>
        </a>
      </li>
      <li class="li-brand">
        <a href="#" class="a-brand d-flex justify-content-center align-items-center link">
          <i class="i-brand far fa-star material-icons-outlined"></i>
          <span class="span-brand">favorites</span>
        </a>
      </li>
      <li class="li-brand">
        <a href="#" class="a-brand d-flex justify-content-center align-items-center link">
          <i class="i-brand far fa-user material-icons-outlined"></i>
          <span class="span-brand">account</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</header>
<nav class="nav-nb">
<i class="i-nav-nb fas fa-angle-left"></i>
<a class="a-nav-nb" href="/deals">DEALS</a>
<a class="a-nav-nb" href="/stocks">STOCKS</a>
<a class="a-nav-nb" href="/portfolios">PORTFOLIOS</a>
<a class="a-nav-nb" href="/ipos">IPOS</a>
<i class="i-nav-nb fas fa-angle-right"></i>
</nav>

