<header class="header-nb">
  <a href="/" class="a-nb logo">Boussard & Gavaudan</a>
  <ul class="ul-nb">
    <li><a class="a-nb" href="#">Devenir membre</a></li>
    <li><a class="a-nb text-primary-nb" href="#">Connexion</a></li>
    <li><button class="btn-nb btn-light-nb" href="#">Inscription</a></li>
  </ul>
</header>
<nav class="nav-nb">
<a class="a-nb" href="/deals">DEALS</a>
<a class="a-nb" href="/stocks">STOCKS</a>
<a class="a-nb" href="/portfolios">PORTFOLIOS</a>
<a class="a-nb" href="/ipos">IPOS</a>
</nav>

